* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica W01 Roman";
    scroll-behavior: smooth;
}

/* Navbar */
.fix {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* top: 100px;
    left: 0px;
    right: 0px; */
    z-index: 3;
    
}

.navup {
    width: 100%;
    height: 40px;
    background-color: #D1E0ED;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navup p {
    font-size: 16px;
    font-weight: 400;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #FFF7D8;
    display: flex;
    font-family: "Inter", sans-serif;
}

.nav .leftnav {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.nav .leftnav h1 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-right: 25px;
}

.nav .leftnav a {
    text-decoration: none;
    color: black;
}

.nav .leftnav .subclassa a {
    padding-right: 25px;
    color: black;
    font-weight: 400;
}

.nav .leftnav .subclassa a:hover {
    color: #01802E;
}

.nav .rightnav {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5%;
}

.nav .rightnav .usericon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.nav .rightnav .usericon i {
    font-size: 30px;
}

.nav .rightnav a {
    text-decoration: none;
    margin-right: 25px;
    color: black;
}

.nav .rightnav a:hover {
    color: grey;
}

.nav .rightnav .button {
    background-color: black;
    width: 125px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .rightnav .button:hover {
    background-color: #01802E;
}

.rightnav #mg {
    margin: 0px;
    color: #FFF;
}

.section1 {
    width: 100%;
    height: 650px;
    position: relative;
    top: 140px;
}

.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1 h1 {
    font-size: 100px;
    font-weight: 400;
    color: #F2F1ED;
    position: absolute;
    top: 10%;
    left: 4%;
}

.section1 .button1 {
    border: 1px solid black;
    width: 28%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF7D8;
    color: black;
    position: absolute;
    right: 5%;
    top: 78%;
}

.section1 .button1 a {
    text-decoration: none;
    color: black;
}

.section1 .button1 span {
    font-size: 40px;
    font-size: 400;
}

.section1 .button1:hover {
    background-color: #01802E;
    color: black;
}

.section1 .button1:hover span {
    color: #FFF7D8;
}

/* section2 */
.section2 {
    width: 100%;
    height: 500px;
    background-color: #FEFBF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 span {
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

.section3 {
    width: 100%;
    height: 730px;
    background-color: #FFF7D8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 h1 {
    font-size: 40px;
    font-weight: 400;
    margin-top: 4%;
    margin-bottom: 4%;
}

.section3 .subsec3 {
    width: 90%;
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.section3 .subsec3 .sec1 {
    width: 32%;
    height: inherit;
}

.sec1 img {
    width: 100%;
    height: 370px;
}

.sec1 h1 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 8%;
    margin-bottom: 5%;
}

.sec1 span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.section3 .subsec3 .sec2 {
    width: 32%;
    height: inherit;
}

.sec2 img {
    width: 100%;
    height: 370px;
}

.sec2 h1 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 8%;
    margin-bottom: 5%;
}

.sec2 span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.section3 .subsec3 .sec3 {
    width: 32%;
    height: inherit;
}

.sec3 img {
    width: 100%;
    height: 370px;
}

.sec3 h1 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 8%;
    margin-bottom: 5%;
}

.sec3 span {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.section4 {
    width: 100%;
    height: 600px;
}

.section4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section5 {
    /* border: 1px solid red; */
    width: 100%;
    height: 785px;
    background-color: #F2F1ED;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section5 h1{
    font-size: 40px;
    font-weight: 400;
    margin-top: 7%;
    margin-bottom: 5%;
}
.section5 .subsec5 {
    width: 92%;
    height: 350px;
    display: flex;
}
.section5 .sec5c1 {
    width: 25%;
    height: inherit;
}
.section5 .sec5c1 img {
    width: 100%;
    height: 270px;
}
.section5 .sec5c1 h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
}
.section5 .sec5c1 span {
    font-size: 16px;
    font-weight: 400;
    color: #717170;
}
.section5 .sec5c2 {
    width: 25%;
    height: inherit;
}
.section5 .sec5c2 img {
    width: 100%;
    height: 270px;
}
.section5 .sec5c2 h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
}
.section5 .sec5c2 span {
    font-size: 16px;
    font-weight: 400;
    color: #717170;
}
.section5 .sec5c3 {
    width: 25%;
    height: inherit;
}
.section5 .sec5c3 img {
    width: 100%;
    height: 270px;
}
.section5 .sec5c3 h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
}
.section5 .sec5c3 span {
    font-size: 16px;
    font-weight: 400;
    color: #717170;
}
.section5 .sec5c4 {
    /* border: 1px solid black; */
    width: 25%;
    height: inherit;
}
.section5 .sec5c4 img {
    width: 100%;
    height: 270px;
}
.section5 .sec5c4 h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 0px;
}
.section5 .sec5c4 span {
    font-size: 16px;
    font-weight: 400;
    color: #717170;
}   
.section5 .button5 {
    border: 1px solid black;
    width: 25%;
    height: 85px;
    background-color: #FFF7D8;
    margin-top: 5%;
}
.section5 .button5 a {
    text-decoration: none;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.section5 .button5:hover {
    background-color: #01802E;
}
.section5 .button5:hover a {
    color: #FFF7D8;
}
.footer {
    /* border: 1px solid black; */
    width: 100%;
    height: 630px;
    background-color: #D2E1EE;
}
.footer .footup {
    /* border: 1px solid blue; */
    width: 100%;
    height: 530px;
    display: flex;
    /* margin-top: 80px; */
    padding-top: 80px;
}
.footer .footup h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .footup span {
    line-height: 25px;
}
.footer .footup .leftfoot {
    /* border: 1px solid red; */
    width: 50%;
    height: inherit;
    margin-left: 15%;
}
.footer .footup .leftfoot .spanfoot {
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer .footup .leftfoot a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    color: black;
    line-height: 25px;
    /* margin-top: 10%; */
}
.footer .footup .rightfoot {
    /* border: 1px solid red; */
    width: 50%;
    height: inherit;
    margin-right: 5%;
    padding-left: 5%;
}
.footer .footup a {
    text-decoration: none;
    color: black;
}
.footer .rightfoot .email {
    /* border: 1px solid red; */
    margin-top: 200px;
    width: 100%;
    height: 100px;
}
.footer .rightfoot .email input {
    border: 2px solid black;
    width: 74%;
    height: 50px;
    background-color: #D2E1EE;
    margin-top: 10px;
}
.footer .rightfoot .email input:hover {
    border: none;
    border-bottom: 1px solid black;
    width: 75%;
}
.footer .rightfoot button {
    border: none;
    /* margin-top: 50px; */
    margin-left: -1%;
    /* margin-bottom: -1%; */
    /* margin-right: -7%; */
    /* margin-top: 200px; */
    width: 25%;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    background-color: black;
} 
.footer .rightfoot .email button:hover {
    transition: 0.5s;
    background-color: #01802E;
    color: #FFF7D8;
}
.footer .rightfoot .email button span {
    font-size: 16px;
    font-weight: 400;
}
.footer .footdown {
    /* border: 1px solid green; */
    width: 100%;
    height: 100px;
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
}
.footdown .downup {
    /* border: 1px solid black; */
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1.5%;
}
.footdown .downup a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
}
.footdown .downup span {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 1%;
}
